<!-- checkout.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='checkout.css') }}">
    <style>
        .autocomplete-items {
            max-height: 150px;
            overflow-y: auto;
            border: 1px solid #ccc;
        }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
        }

        .autocomplete-items div:hover {
            background-color: #ddd;
        }

    </style>
</head>
<body>
    <div class="checkout-container">
        <h2 style="text-align: center">Order</h2>
        <form onsubmit="submitOrder(event)">
            <label for="phoneNumber">Тел:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required>

            <label for="fullName">ФИО:</label>
            <input type="text" id="fullName" name="fullName" required>

            <label for="address">Адрес НП:</label>
            <div class="autocomplete-container">
                <input type="text" id="address" name="address" required class="autocomplete-input" oninput="autocompleteAddress(this.value)">
                <div class="autocomplete-items" id="autocomplete-items"></div>
            </div>
            <datalist id="cityList"></datalist>
            <label for="np">№ Отделения:</label>
            <input type="text" id="novaposta" name="posta" required>
            <!-- Cart details table for better layout -->
            <table class="cart-details">
                <thead>
                    <tr>
                        <th style="text-align: center">Товар</th>
                        <th style="text-align: center">Прайс</th>
                        <th style="text-align: center">К-во</th>
{#                        <th>Total</th>#}
                        <th style="text-align: center">Action</th>
                    </tr>
                </thead>
                <tbody id="cart-items">
                </tbody>
            </table>
            <div style="border-radius: 10%; background-color: #2980b9; position: fixed; top: 1%; left: 1%; width: 60px; height: 40px; display: flex; justify-content: center; align-items: center;" class="back">
                <a style="color: white; font-size: 48px; text-decoration: none;" href="/rega">⟸</a>
            </div>
            <div class="subdiv">
                <button type="submit" onclick="openCheckout()">
                    <span class="total">Order $<span id="cart-total">0.00</span></span>
                </button>
            </div>
        </form>
    </div>
    <div id="usercard"></div>
    <script src="{{ url_for('static', filename='checkout.js') }}"></script>
    <script>
        async function getNovaPostSuggestions(query) {
            const apiKey = "574fbab8b16065351da4de2c094b7088";
            const url = `/novapost/divisions?query=${encodeURIComponent(query)}&limit=5`;

            try {
                const response = await fetch(url, {
                    headers: {
                        'Authorization': `Bearer ${apiKey}`,
                        'Content-Type': 'application/json',
                    },
                });

                const data = await response.json();

                if (data.success && data.data.length > 0) {
                    return data.data.map(item => item.name);
                } else {
                    return [];
                }
            } catch (error) {
                console.error('Error fetching data:', error);
                return [];
            }
        }

        const addressInput = document.getElementById('address');
        const autocompleteItems = document.getElementById('autocomplete-items');

        addressInput.addEventListener('input', async function () {
            const inputValue = this.value;

            const suggestions = await getNovaPostSuggestions(inputValue);

            autocompleteItems.innerHTML = '';
            suggestions.forEach(suggestion => {
                const item = document.createElement('div');
                item.classList.add('autocomplete-item');
                item.textContent = suggestion;
                item.addEventListener('click', function () {
                    addressInput.value = suggestion;
                    autocompleteItems.innerHTML = '';
                });
                autocompleteItems.appendChild(item);
            });
        });
    </script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        let tg = window.Telegram.WebApp;

        function openNewWindow(userId, userInfo) {
            const newWindow = window.open('', '_blank');
            newWindow.document.write(`<h3>User ID: ${userId}</h3>`);
            newWindow.document.write(`<h3>User Info: ${userInfo}</h3>`);
        }

        function initializeTelegram() {
            let usercard = document.getElementById("usercard");
            let profName = document.createElement('h3');
            profName.innerText = `${tg.initDataUnsafe.user.first_name} ${tg.initDataUnsafe.user.last_name} ${tg.initDataUnsafe.user.id}`;
            profName.classList.add('user-info');
            usercard.appendChild(profName);


            // Вывод в консоль при установлении соединения с профилем
            console.log('Connection with the user profile established.');

            // Проверка наличия Telegram и открытие нового окна
            openNewWindow(tg.initDataUnsafe.user.id, profName.innerText);
        }

        if (document.readyState === 'complete') {
            // Если документ уже загружен, инициализируем Telegram немедленно
            initializeTelegram();
        } else {
            // Если документ еще загружается, добавляем слушатель события загрузки
            document.addEventListener('DOMContentLoaded', initializeTelegram);
        }
    </script>
    <script>
        function submitOrder() {
            const userId = tg.initDataUnsafe && tg.initDataUnsafe.user ? tg.initDataUnsafe.user.id : null;

            const fullName = document.getElementById('fullName').value;
            const phoneNumber = document.getElementById('phoneNumber').value;
            const address = document.getElementById('address').value;
            const novpost = document.getElementById('novaposta').value;
            const cartItems = document.querySelectorAll('#cart-items tr');
            const orderDetails = JSON.parse(localStorage.getItem('cart')) || [];
            const orderData = {
                user_id: userId,
                fullName,
                phoneNumber,
                city: `${address}`,
                address: `${address} Відділення: ${novpost}`,  // ИСПРАВЛЕНИЕ В ЭТОЙ СТРОКЕ
                orderDetails
            };


            // Send orderData to Flask backend
            fetch('/submit_order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(orderData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Order submitted successfully:', data);
                // Handle success, e.g., show a success message or redirect to a thank you page
            })
            .catch(error => {
                console.error('Error submitting order:', error);
                // Handle error, e.g., show an error message to the user
            });
            // Clear the cart after checkout
            cart = [];
            updateCart();
        }
    </script>
    <script>
        let autocompleteTimeout; // Переменная для хранения таймаута

        // Функция для отправки запросов к вашему Flask-приложению
        async function fetchAddresses(query) {
            try {
                const response = await fetch(`/novapost/divisions?query=${query}`);
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error fetching addresses:', error);
            }
        }

        // Функция для автозаполнения адресов
        async function autocompleteAddress(query) {
            const autocompleteItems = document.getElementById('autocomplete-items');
            autocompleteItems.innerHTML = ''; // Очистить предыдущие предложения

            if (query.trim() === '') {
                return;
            }

            clearTimeout(autocompleteTimeout); // Очистить предыдущий таймаут

            // Установить новый таймаут для запроса с небольшой задержкой
            autocompleteTimeout = setTimeout(async () => {
                const addresses = await fetchAddresses(query);

                if (addresses && addresses.length > 0) {
                    addresses.forEach((address) => {
                        const option = document.createElement('div');
                        option.textContent = address;
                        option.addEventListener('mousedown', (event) => {
                            event.preventDefault(); // Предотвратить выделение текста
                            document.getElementById('address').value = address;
                            autocompleteItems.innerHTML = ''; // Очистить предложения после выбора
                        });
                        autocompleteItems.appendChild(option);
                    });
                }
            }, 300); // Измените значение задержки по вашему усмотрению
        }

        // Дополнительный обработчик события для скрытия предложений при клике вне области
        document.addEventListener('click', (event) => {
            const autocompleteContainer = document.querySelector('.autocomplete-container');
            if (!autocompleteContainer.contains(event.target)) {
                document.getElementById('autocomplete-items').innerHTML = '';
            }
        });

    </script>
</body>
</html>
