<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish Design with Bootstrap</title>
    <!-- Add Bootstrap CSS CDN link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='category.css') }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>

    <div class="container">
        <h1>Каталог</h1>
        <div class="row card-container">
            {% for category in categories['categories'] %}
                <div class="col-md-4">
                    <div class="card mb-3" data-aos="fade-up" onclick="redirectToCategory('{{ category['category_id'] }}')">
                        <div class="card-body">
                            <img src="https://test.aspor.ua/image/{{ category['image'] }}" alt="{{ category['name'] }}">
                            <h5 class="card-title">{{ category['name'] }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function redirectToCategory(categoryId) {
            var url = "/uacategory_id?uacategory_id=" + categoryId;
            window.location.href = url;
        }
    </script>
    <!-- Add Bootstrap JS and Popper.js CDN scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
