<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='order.css') }}">
</head>
<body>
    <div class="products-container">
        <h1 style="text-align: center">Товари</h1>
        <div class="product-grid">
            {% for product in products %}
                <div class="product-item" data-product-id="{{ product.product_id }}">
                    <img class="product-image" src="{{ product.image[0] }}" alt="Product Image">
                    <h5>{{ product.name }}</h5>
                    {% if product.price is defined %}
                        {% set price_float = product.price|float %}
                        {% if price_float %}
                            <p class="product-price">{{ '%.2f'|format(price_float) }}$</p>
                        {% else %}
                            <p class="product-price">{{ product.price }}$</p>
                        {% endif %}
                    {% else %}
                        <p class="product-price">{{ product.price }}$</p>
                    {% endif %}
                    <div class="product-controls">
{#                        <div class="quantity-controls">#}
{#                            <button class="quantity-btn minus">-</button>#}
{#                            <span class="quantity">1</span>#}
{#                            <button class="quantity-btn plus">+</button>#}
{#                        </div>#}
                        <button class="add-to-cart" onclick="addToCart('{{ product.product_id }}', '{{ product.name }}', {{ product.price }})">Add to Cart</button>
                    </div>
{#                    <button class="show-details">Info</button>#}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="product-details-popup">
        <div class="slider">
            <!-- Add your slider content here -->
            {% for product in products %}
                <div class="slide">
                    <img src="{{ product.image[0] }}" alt="Product Image">
                    <p>{{ product.description }}</p>
                </div>
            {% endfor %}
        </div>
        <button class="close-popup">Close</button>
    </div>
    <div style="border-radius: 10%; background-color: #2980b9; position: fixed; top: 1%; left: 1%; width: 60px; height: 40px; display: flex; justify-content: center; align-items: center;" class="back">
        <a style="color: white; font-size: 48px; text-decoration: none;" href="/">⟸</a>
    </div>
     <!-- Корзина -->
    <div class="cart-container">
        <ul id="cart-items" style="display: none;">
            {% for item in cart %}
                <li>{{ item.product_id }} - {{ item.name }} - ${{ item.price }} - Quantity: {{ item.quantity }}</li>
            {% endfor %}
        </ul>
        <button class="checkout" onclick="openCheckout()">${{ total }}</button>
    </div>
    <script src="{{ url_for('static', filename='order.js') }}"></script>
    <!-- /Корзина -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>